{{>header}}
{{>navbar}}
<section class="container-fluid my-5 text-center">
    <img src="/img/icon.png" class="img-fluid logo">
    <h1>Welcome to our app admin : <span style="color: blue; font-weight: bold;">{{userName}}</span></h1>
    <a href="/allCustomers" class="btn btn-primary m-2 p-3">Go to all customars page</a>
</section>
{{>footer}}